---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome Home</h1>
    <p>Book unique homes and experience a city like a local.</p>

    <form class="form-inline">
      <div class="form-group">
        <input type="date" class="form-control" id="exampleInputName2" placeholder="When?">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Where?">
      </div>
      <!-- Large button group -->
      <div class="btn-group">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          1 guest<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>1 guest</li>
          <li>2 guests</li>
          <li>3 guests</li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>

  </div>
</div>


<div class="container">
  <h2>Recent flats</h2>
  <div class="row">
    <% data.flats.each do |owner, flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= flat.picture_room %>);">
          <div class="card-category"><%= flat.city_name %></div>
          <div class="card-description">
            <h3><%= flat.name %></h3>
            <p><%= flat.description %></p>

          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>






